{% extends "layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login&signup.min.css">
{% endblock %}

{% block content %}
    <div class="login">
        <div class="container">
                <form class="form-check" action="/login" method="post">
                    <h2 class="form-title">Войти </h2>
                    <div class="auth-form_social">
                        <a class="social__item" href="#">
                            <img src="/images/social/icon-google.svg">
                        </a>

                        <a class="social__item" href="#">
                            <img src="/images/social/icon-vk.svg">
                        </a>

                        <a class="social__item" href="#">
                            <img src="/images/social/icon-fb.svg">
                        </a>

                        <a class="social__item" href="#">
                            <img src="/images/social/icon-tw.svg">
                        </a>

                        <a class="social__item" href="#">
                            <img src="/images/social/icon-odnoklassniki.svg">
                        </a>
                        <a class="social__item" href="#">
                            <img src="/images/social/icon-ya.svg">
                        </a>

                        <span class="auth-separator">или</span>
                    </div>

                    <div class="form__row">
                        <label>Имя пользователя:</label>
                        <input class="input-field username" type="text" name="username" placeholder="Имя пользователя"/>
                    </div>
                    <div class="form__row">
                        <label>Пароль:</label>
                        <input class="input-field password" type="password" name="password" placeholder="Пароль"/>
                    </div>
                    <div class="form__row">
                        <input class="btn btn-primary" type="submit" value="Log In"/>
                    </div>
                    <div class="links-form">
                        <a class="form-link" href="/signup">Регистрация</a>
                        <a class="form-link" id="link-reset" href="#">Забыли пароль?</a>
                    </div>



                </form>
        </div>
    </div>

{% endblock %}
