{% extends "layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login&signup.min.css">
    {#    <link rel="stylesheet" href="/css/intlTelInput.min.css">#}
    {#    <link rel="stylesheet" href="/css/intlTelInput.css">#}

{% endblock %}

{% block preScript %}
    <script src="/scripts/login.js"></script>

{% endblock %}

{% block content %}
    <div class="login">
        <div class="container">
            <div class="form-check width-v2">
                <h2 class="form-title">Вход или регистрация </h2>
                <div class="form-main">
                    {# Sidebar menu #}
                    <div class="form-sidebar">
                        <a class="sidebar_list-row row-active" id="social-auth" href="#"
                           data-content-id="form-content_social">
                            Социальные сети
                        </a>

                        {#<a class="sidebar_list-row" id="phone-auth" href="#" data-content-id="form-content_phone">#}
                        {#Телефон#}
                        {# </a>#}

                        {#<a class="sidebar_list-row" id="login-auth" href="#" data-content-id="form-content_login">#}
                        {#Логин#}
                        {# </a>#}

                        <a class="sidebar_list-row" id="mail-auth" href="#" data-content-id="form-content_email">
                            Почта
                        </a>

                        {# <a class="sidebar_list-row" id="fast-auth" href="#" data-content-id="form-content_fast-auth">#}
                        {#Быстрая регистрация#}
                        {#</a>#}
                    </div>

                    <div class="form-content" id="form-content">
                        {# Social #}
                        <div
                                {# action="/auth/login"#}
                                class="form-content_social customForm active-content" id="form-content_social">
                            <div class="social-row">
                                <a class="social__item" href="/auth/google">
                                    <img src="/images/social/icon-google.svg">
                                </a>
                                <a class="social__item" href="/auth/vkontakte">
                                    <img src="/images/social/icon-vk.svg">
                                </a>
                                <a class="social__item" href="/auth/facebook">
                                    <img src="/images/social/icon-fb.svg">
                                </a>
                            </div>

                            <div class="social-row">
{#                                <a class="social__item" href="/auth/twitter">#}
{#                                    <img src="/images/social/icon-tw.svg">#}
{#                                </a>#}
                                <a class="social__item" href="/auth/odnoklassniki">
                                    <img src="/images/social/icon-odnoklassniki.svg">
                                </a>
                                <a class="social__item" href="/auth/yandex">
                                    <img src="/images/social/icon-ya.svg">
                                </a>
                            </div>
                        </div>


                        {# Phone #}
                        {# <form#}
                        {#  action="/auth/login"#}
                        {#class="form-content_phone  customForm inactive-content" id="form-content_phone">#}
                        {# <div class="input-row">#}
                        {#<input class="input-field phone" id="phone" name="tel" type="tel" autocorrect="off" autocomplete="tel" placeholder="" value="+7" min="11" max="12" required oninput="checkInputTel()"/>#}
                        {# <a class="btn-input" id="clear-input" onclick="cleanInput()">#}
                        {# <img id="remove" src="/images/remove.svg">#}
                        {# </a>#}
                        {# </div>#}
                        {# <p id="auth-error">Номер телефона введен некорректно, пример +79008007060</p>#}
                        {# <p id="length-error">Номер телефона слишком длинный, пример +79008007060</p>#}
                        {# <input class="btn btn-auth" type="submit" value="Получить код"/>#}
                        {# </form>#}

                        {# Login #}
                        {# <form#}
                        {# action="/auth/login"#}
                        {# class="form-content_login  customForm inactive-content" id="form-content_login">#}
                        {# <div class="input-row">#}
                        {#<input class="input-field login-auth" id="login" name="login" type="text" autocorrect="off" placeholder="" />#}
                        {# <a class="btn-input" id="clear-input" onclick="cleanInput()">#}
                        {# <img id="remove" src="/images/remove.svg">#}
                        {# </a>#}
                        {# </div>#}
                        {#  <div class="input-row">#}
                        {# <input class="input-field password" id="password" type="password" name="password" placeholder="Пароль"/>#}
                        {# <a class="btn-input" id="show-input" onclick="changeInputType()">#}
                        {# <img class="show-img" src="/images/show.svg">#}
                        {# </a>#}
                        {# </div>#}
                        {#<input class="btn btn-auth" type="submit" value="Войти или зарегистрироваться"/>#}
                        {# </form>#}

                        {# Email #}
                        <form
                                action="/auth/localauth"
                                method="post" class="form-content_email customForm inactive-content"
                                id="form-content_email">
                            <div class="input-row">

                                <input class="input-field email" id="email" type="email" name="email"
                                       placeholder="Почта" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       autocomplete="on" value="{{ email.email }}"
                                       onfocusout="checkEmailInput ()"
                                />

                                {% if email.status == 'user exists' %}
                                    <img id="input-img" src=" {{ avatar }} ">
                                {% endif %}

                                <a class="btn-input" id="clear-input" onclick="cleanInput()">
                                    <img src="/images/remove.svg">
                                </a>
                            </div>

                            <div class="input-row">
                                {# {{ errLogin }}#}
                                <input class="input-field password" id="password" type="password" name="password" placeholder="Пароль"/>
                                <a class="btn-input" id="show-input" onclick="changeInputType()">
                                    <img class="show-img" src="/images/show.svg">
                                </a>
                            </div>

                            <p id="auth-msg">Неверный пароль</p>

                            {% if email.status == 'user exists' %}
                                <input class="btn btn-enter" id="btn-auth" type="submit" value="Войти"/>
                                <div class="links">
                                    <a class="link-reset" id="link-reset" href="#" onclick="openFormResetPassword ()">Забыли пароль?</a>
                                </div>
                            {% elseif email.status == 'user does not exist' %}
                                <input class="btn btn-register" id="btn-auth" type="submit" value="Зарегистрироваться"/>
                            {% else %}
                                <input class="btn btn-auth" id="btn-auth" type="submit" value="Войти или зарегистрироваться"/>
                                <div class="links">
                                    <a class="link-reset" id="link-reset" href="#" onclick="openFormResetPassword ()">Забыли пароль?</a>
                                </div>
                            {% endif %}

                            {# href="/profile"#}
                            {# onclick="enterProfile ()"#}
                        </form>


                        {# Form reset#}
                        <form action="/auth/forgot" method="post" class="form-content_reset customForm  inactive-content" id="form-reset">
                            <p>
                                Введите адрес электронной почты, указанный при регистрации
                            </p>
                            <input class="input-field email" id="email-reset" type="email" name="email" placeholder="Почта" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                   autocomplete="on" value="{{ email.email }}"/>
                            <input class="btn btn-reset" id="btn-reset" type="submit" value="Сбросить пароль" onclick="resetPassword ()"/>
                        </form>

                        {# Form with messege#}
{#                        {% if status == 'reset' %}#}
                        <form
                            {# action="/auth/forgot" method="post"#}
                                class="form-content_reset customForm  inactive-content" id="msg-reset">
                            <p>
                                На вашу почту
                                <span>{{ email.email }}</span>
                                направлено письмо, содержащее ссылку для востановления пароля.
                            </p>

                        </form>
{#                        {% endif %}#}


                        {# Fast-auth #}
                        {# <form#}
                        {# action="/auth/login"#}
                        {#class="form-content_fast-auth customForm inactive-content" id="form-content_fast-auth">#}
                        {#<div class="auth-text">#}
                        {#<h3>#}
                        {#Добро пожаловать!#}
                        {#</h3>#}
                        {#<p>#}
                        {# Вы находитесь во вкладке быстрой регистрации.#}
                        {#  </p>#}
                        {#<p>В случае регистрации логин и пароль от учетной#}
                        {# <br>#}
                        {#  записи#}
                        {#Вы сможете найти в Личном кабинете.</p>#}
                        {#</div>#}
                        {#<input class="btn btn-auth" type="submit" value="Зарегистрироваться"/>#}
                        {# </form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postScript %}
    {#    <script src="scripts/intlTelInput.js"></script>#}
    {#    <script>#}
    {#      var input = document.querySelector('#phone')#}
    {#      window.intlTelInput(input)#}
    {#    </script>#}
{% endblock %}
