{% extends "layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login&signup.min.css">
    {#    <link rel="stylesheet" href="/css/intlTelInput.min.css">#}
    {#    <link rel="stylesheet" href="/css/intlTelInput.css">#}

{% endblock %}

{% block preScript %}
    <script src="/scripts/resetPassword.js"></script>

{% endblock %}

{% block content %}

    <div class="login">
        <div class="container">
            <div class="form_content-reset">
                <h3 class="title-msg">{{ msg }}</h3>
            </div>
        </div>
    </div>

{% endblock %}
