{% extends "layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login&signup.min.css">
    {#    <link rel="stylesheet" href="/css/intlTelInput.min.css">#}
    {#    <link rel="stylesheet" href="/css/intlTelInput.css">#}

{% endblock %}

{% block preScript %}
    <script src="/scripts/resetPassword.js"></script>

{% endblock %}

{% block content %}
    <div class="login">
        <div class="container">
            <div class="form_content-reset">
                <h2 class="reset-title">Смена пароля</h2>

                <p>{{token}} </p>

                <form class="form-reset" method="POST"
                        {# action="/resetpassword/"#}
                >
                    <label>Введите новый пароль</label>

                    <input type="hidden" name="token"
                           value="{{token}}">



                    <div class="input-row">
                        <input class="input-field password" id="password_1" type="password" name="password" data-id="1"
                               placeholder="Новый пароль"/>
                        <a class="btn-input" id="show-input" onclick="changeInputType(this)">
                            <img class="show-img" src="/images/show.svg">
                        </a>
                    </div>

                    <label>Повторите пароль</label>
                    <div class="input-row">
                        <input class="input-field password" id="password_2" type="password" name="password" data-id="2"
                               placeholder="Новый пароль"/>
                        <a class="btn-input" id="show-input" onclick="changeInputType(this)">
                            <img class="show-img" src="/images/show.svg">
                        </a>
                    </div>
                    <input class="btn btn-change" id="btn-change" type="submit" value="Изменить пароль"/>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
