{% extends "../layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login&signup.min.css">
{% endblock %}

{% block content %}

    <div class="login">
        <div class="container">
            <form action="/signup" method="post" class="form-check">
                <h2 class="form-title">Регистрация</h2>
                <div class="form__row">
                    <label>Username:</label>
                    <input class="input-field username" type="text" name="username" placeholder="Username"/>
                </div>

                <div class="form__row">
                    <label>Email:</label>
                    <input class="input-field email"  type="text" name="email" placeholder="Email"/>
                </div>

                <div class="form__row">
                    <label>Password:</label>
                    <input class="input-field password" type="password" name="password" placeholder="Password"/>
                </div>
                <div class="form__row">
                    <input class="btn btn-primary" type="submit" value="Sign Up"/>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
