{% extends "../layout.njk" %}

{% block content %}
<div class="container">
    <div class="row">
        {% block menu %}
            {% include "./menu.njk" %}
        {% endblock %}
        {% block mbk %}{% endblock %}
    </div>
</div>
{% endblock %}
