{% extends "../layout.njk" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Goods</li>
        </ol>
    </nav>

    <a href="/admin/goods/add">Add good</a></li>
<table>
    {% for good in goods %}
        <tr>
            <td class="tableTd">{{ good.id }}</td>
            <td class="tableTd">{{ good.name }}</td>
            <td class="tableTd">{{ good.price or "null"}}</td>
{#            <td>{{ good.description }}</td>#}
{#            <td>{{ good.category }}</td>#}
            <td class="tableTd">{{ good.createdAt }}</td>
            <td class="tableTd">{{ good.updatedAt }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}