{% extends "../layout.njk" %}

 {% block preScript %}
    <script src="scripts/tabAndPagination.js"></script>
 {% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Orders</li>
        </ol>
    </nav>

    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#new__orders">Новые заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#orders_in_work">Заказы в работе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#orders_shipping">Заказы на доставке</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#orders_done">Выполненные заказы</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="new__orders" class="container tab-pane active">
                <br>
                <a class="btn btn-info m-1" role="button" href="#">Load orders</a></li>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th># order</th>
                        <th>Client name</th>
                        <th>Address</th>
                        <th>Number of goods</th>
                        <th>Total (USD)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for order in orders %}
                        <tr>
                            <td class="tableTd"><a href="/admin/orders/{{ order.id }}">{{ order.id }}</a></td>
                            <td class="tableTd">{{ order.userName }}</td>
                            <td class="tableTd">{{ order.address }}</td>
                            <td class="tableTd">{{ productsId }}</td>
                            <td class="tableTd">{{ order.sum or "null"}}</td>
                            <td class="tableTd"><a href="/admin/orders/status/{{ order.id }}">status</a></td>
                            <td class="tableTd"><a class="text-success" href="/admin/orders/preview/{{ order.id }}">preview</a></td>
                            <td class="tableTd"><a class="text-danger" href="/admin/orders/delete/{{ order.id }}">archive</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Предыдущая">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">6</a></li>
                        <li class="page-item"><a href="#" class="page-link">7</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Следующая">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="orders_in_work" class="container tab-pane fade">
                <br>
                <a class="btn btn-info m-1" role="button" href="#">Load orders</a></li>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th># order</th>
                        <th>Client name</th>
                        <th>Address</th>
                        <th>Number of goods</th>
                        <th>Total (USD)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for order in orders %}
                        <tr>
                            <td class="tableTd"><a href="/admin/orders/{{ order.id }}">{{ order.id }}</a></td>
                            <td class="tableTd">{{ order.userName }}</td>
                            <td class="tableTd">{{ order.address }}</td>
                            <td class="tableTd">{{ productsId }}</td>
                            <td class="tableTd">{{ order.sum or "null"}}</td>
                            <td class="tableTd"><a href="/admin/orders/status/{{ order.id }}">status</a></td>
                            <td class="tableTd"><a class="text-success" href="/admin/orders/preview/{{ order.id }}">preview</a></td>
                            <td class="tableTd"><a class="text-danger" href="/admin/orders/delete/{{ order.id }}">archive</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Предыдущая">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">6</a></li>
                        <li class="page-item"><a href="#" class="page-link">7</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Следующая">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="orders_shipping" class="container tab-pane fade">
                <br>
                <a class="btn btn-info m-1" role="button" href="#">Load orders</a></li>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th># order</th>
                        <th>Client name</th>
                        <th>Address</th>
                        <th>Number of goods</th>
                        <th>Total (USD)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for order in orders %}
                        <tr>
                            <td class="tableTd"><a href="/admin/orders/{{ order.id }}">{{ order.id }}</a></td>
                            <td class="tableTd">{{ order.userName }}</td>
                            <td class="tableTd">{{ order.address }}</td>
                            <td class="tableTd">{{ productsId }}</td>
                            <td class="tableTd">{{ order.sum or "null"}}</td>
                            <td class="tableTd"><a href="/admin/orders/status/{{ order.id }}">status</a></td>
                            <td class="tableTd"><a class="text-success" href="/admin/orders/preview/{{ order.id }}">preview</a></td>
                            <td class="tableTd"><a class="text-danger" href="/admin/orders/delete/{{ order.id }}">archive</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Предыдущая">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">6</a></li>
                        <li class="page-item"><a href="#" class="page-link">7</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Следующая">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="orders_done" class="container tab-pane fade">
                <br>
                <a class="btn btn-info m-1" role="button" href="#">Load orders</a></li>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th># order</th>
                        <th>Client name</th>
                        <th>Address</th>
                        <th>Number of goods</th>
                        <th>Total (USD)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for order in orders %}
                        <tr>
                            <td class="tableTd"><a href="/admin/orders/{{ order.id }}">{{ order.id }}</a></td>
                            <td class="tableTd">{{ order.userName }}</td>
                            <td class="tableTd">{{ order.address }}</td>
                            <td class="tableTd">{{ productsId }}</td>
                            <td class="tableTd">{{ order.sum or "null"}}</td>
                            <td class="tableTd"><a href="/admin/orders/status/{{ order.id }}">status</a></td>
                            <td class="tableTd"><a class="text-success" href="/admin/orders/preview/{{ order.id }}">preview</a></td>
                            <td class="tableTd"><a class="text-danger" href="/admin/orders/delete/{{ order.id }}">archive</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Предыдущая">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">6</a></li>
                        <li class="page-item"><a href="#" class="page-link">7</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Следующая">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}
