{% extends "../layout.njk" %}

{% block content %}
{#    <nav aria-label="breadcrumb">#}
{#        <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item"><a href="/">Home</a></li>#}
{#            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>#}
{#            <li class="breadcrumb-item active" aria-current="page">Goods</li>#}
{#        </ol>#}
{#    </nav>#}

    <form action="/add">
        ToDo<br>
        <input type="text" name="title" value="random todo"><br>
        <input type="submit" value="Submit">
    </form>
    <table>
        {% for task in tasks %}
            <tr>
                <td class="tableTd">{{ task.id }}</td>
                <td class="tableTd">{{ task.title }}</td>
                <td class="tableTd">{{ task.UserId }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}