{% extends "../adminLayout.njk" %}

{% block mbk %}
    <div class="col-10 mt-2 mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categories</li>
            </ol>
        </nav>

        <div class="alert alert-success  alert-dismissible fade show" role="alert">
            <h5 class="alert-heading">Категория успешно добавлена!</h5>
            <hr>
            <p class="mb-0">
                Категория загружена на сервер.
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="d-flex">
            <table class="col-5">
                {% for category in categories %}
                    <tr>
                        <td class="tableTd">{{ category.id }}</td>
                        <td class="tableTd">{{ category.name }}</td>
                        <td class="tableTd">{{ good.description }}</td>
                    </tr>
                {% endfor %}
            </table>

            <form class="col-6 d-flex flex-column " action="/admin/categories/add" method="post" target="_self">
                Название категории:
                <input type="text" name="name"><br>
                Описание категории:
                <input type="text" name="description">
                <input class="btn btn-success mt-3 p-1" type="submit" value="Добавить категорию">
            </form>

        </div>
    </div>
{% endblock %}
