{% extends "./layout.njk" %}

 {% block preScript %}
     <script src="/scripts/profile/addresses.js"></script>
 {% endblock %}

{% block main_profile %}
    <h3 class="section-title">Адреса доставки</h3>
    <div class="addresses_list">

        {% for address in addresses %}

            <div class="addresses_list-item" id="{{ address.id }}" data-id="{{ address.id }}">
                <div class="addresses_item-inner">
                    <button class="address-delete" data-url="/api/address/{{ address.id }}"
                            onclick="deleteAddress (this)">
                        <svg enable-background="new 0 0 32 32" id="Layer_1" version="1.1" viewBox="0 0 32 32"
                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20.377,16.519l6.567-6.566c0.962-0.963,0.962-2.539,0-3.502l-0.876-0.875c-0.963-0.964-2.539-0.964-3.501,0  L16,12.142L9.433,5.575c-0.962-0.963-2.538-0.963-3.501,0L5.056,6.45c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567  c-0.962,0.963-0.962,2.538,0,3.501l0.876,0.876c0.963,0.963,2.539,0.963,3.501,0L16,20.896l6.567,6.566  c0.962,0.963,2.538,0.963,3.501,0l0.876-0.876c0.962-0.963,0.962-2.538,0-3.501L20.377,16.519z"
                          fill="#515151"/>
                        </svg>
                    </button>


                    <div class="address">
                        {{ address.country }}, {{ address.city }}, {{ address.address }}
                    </div>

                    <button class="address-change" onclick="openFormChangeAddress (this)">
                        <svg class="btn_img-edit" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32"
                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
        <polyline fill="none" points="   649,137.999 675,137.999 675,155.999 661,155.999  " stroke="#FFFFFF"
                  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <polyline fill="none" points="   653,155.999 649,155.999 649,141.999  " stroke="#FFFFFF" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <polyline fill="none" points="   661,156 653,162 653,156  " stroke="#FFFFFF" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
    </g>
                            <path d="M28.172,3.828c-0.964-0.964-2.186-1.575-3.533-1.767c-1.961-0.278-3.895,0.367-5.294,1.767  c-0.391,0.391-0.391,1.024,0,1.415c0.021,0.021,0.048,0.028,0.07,0.046c0.018,0.021,0.025,0.048,0.046,0.069l2.884,2.884  L7.449,23.138l-2.293-2.293L17.793,8.208c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L3.037,20.136  c-0.001,0.001-0.002,0.001-0.003,0.002L2.292,20.88c-0.094,0.094-0.167,0.206-0.217,0.327C2.026,21.329,2,21.458,2,21.587V29  c0,0.553,0.448,1,1,1h7.414c0.265,0,0.52-0.105,0.707-0.293l17.051-17.051C30.605,10.222,30.605,6.262,28.172,3.828z M24.358,4.042  c0.914,0.13,1.744,0.545,2.399,1.2c1.409,1.41,1.606,3.567,0.614,5.199l-2.906-2.907l0,0l0,0l-2.916-2.916  C22.38,4.109,23.363,3.901,24.358,4.042z M4,28v-5.482l2.74,2.74c0.001,0.001,0.001,0.002,0.001,0.002s0.002,0.001,0.002,0.001  L9.482,28H4z M8.863,24.552L23.758,9.656l2.293,2.293L11.155,26.845L8.863,24.552z"/>
                       </svg>

                        <svg class="btn_img-arrow" enable-background="new 0 0 32 32" height="32px" version="1.1"
                             viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"><path
                                    d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z"
                                    fill="#515151"/>
                        </svg>
                    </button>
                </div>

                <form class="address-form block">
                    <div class="row">
                        <label>Адрес</label>
                        <input class="input-field input-address" id="address" type="text" name="address"
                               placeholder="Улица, дом, корпус, квартира" value="{{ address.address }}">

                    </div>
                    <div class="row">
                        <div class="row-cell">
                            <label>Город</label>
                            <input class="input-field" id="city" type="text" name="city" placeholder="Город"
                                   value="{{ address.city }}">
                        </div>

                        <div class="row-cell">
                            <label>Страна</label>
                            <input class="input-field" id="country" type="text" name="country" placeholder="Страна"
                                   value="{{ address.country }}">
                        </div>

                        <div class="row-cell">
                            <label>Индекс</label>
                            <input class="input-field" id="postcode" type="text" name="postcode" placeholder="Индекс"
                                   value="{{ address.postcode }}">
                        </div>
                    </div>
                    <button type="button" class="btn btn-info" data-url="/api/address/{{ address.id }}"
                            onclick="changeAddress (this)">Сохранить изменения
                    </button>
                </form>
            </div>
        {% endfor %}

        <div class="addresses_list-item hidden" id="{{ address.id }}" data-id="{{ address.id }}">
            <div class="addresses_item-inner">
                <button class="address-delete" data-url="/api/address/{{ address.id }}"
                        onclick="deleteAddress (this)">
                    <svg enable-background="new 0 0 32 32" id="Layer_1" version="1.1" viewBox="0 0 32 32"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20.377,16.519l6.567-6.566c0.962-0.963,0.962-2.539,0-3.502l-0.876-0.875c-0.963-0.964-2.539-0.964-3.501,0  L16,12.142L9.433,5.575c-0.962-0.963-2.538-0.963-3.501,0L5.056,6.45c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567  c-0.962,0.963-0.962,2.538,0,3.501l0.876,0.876c0.963,0.963,2.539,0.963,3.501,0L16,20.896l6.567,6.566  c0.962,0.963,2.538,0.963,3.501,0l0.876-0.876c0.962-0.963,0.962-2.538,0-3.501L20.377,16.519z"
                          fill="#515151"/>
                        </svg>
                </button>


                <div class="address">

                </div>

                <button class="address-change" onclick="openFormChangeAddress (this)">
                    <svg class="btn_img-edit" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32"
                         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
        <polyline fill="none" points="   649,137.999 675,137.999 675,155.999 661,155.999  " stroke="#FFFFFF"
                  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <polyline fill="none" points="   653,155.999 649,155.999 649,141.999  " stroke="#FFFFFF" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <polyline fill="none" points="   661,156 653,162 653,156  " stroke="#FFFFFF" stroke-linecap="round"
                  stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
    </g>
                        <path d="M28.172,3.828c-0.964-0.964-2.186-1.575-3.533-1.767c-1.961-0.278-3.895,0.367-5.294,1.767  c-0.391,0.391-0.391,1.024,0,1.415c0.021,0.021,0.048,0.028,0.07,0.046c0.018,0.021,0.025,0.048,0.046,0.069l2.884,2.884  L7.449,23.138l-2.293-2.293L17.793,8.208c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L3.037,20.136  c-0.001,0.001-0.002,0.001-0.003,0.002L2.292,20.88c-0.094,0.094-0.167,0.206-0.217,0.327C2.026,21.329,2,21.458,2,21.587V29  c0,0.553,0.448,1,1,1h7.414c0.265,0,0.52-0.105,0.707-0.293l17.051-17.051C30.605,10.222,30.605,6.262,28.172,3.828z M24.358,4.042  c0.914,0.13,1.744,0.545,2.399,1.2c1.409,1.41,1.606,3.567,0.614,5.199l-2.906-2.907l0,0l0,0l-2.916-2.916  C22.38,4.109,23.363,3.901,24.358,4.042z M4,28v-5.482l2.74,2.74c0.001,0.001,0.001,0.002,0.001,0.002s0.002,0.001,0.002,0.001  L9.482,28H4z M8.863,24.552L23.758,9.656l2.293,2.293L11.155,26.845L8.863,24.552z"/>
                       </svg>

                    <svg class="btn_img-arrow" enable-background="new 0 0 32 32" height="32px" version="1.1"
                         viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"><path
                                d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z"
                                fill="#515151"/>
                        </svg>
                </button>
            </div>

            <form class="address-form block">
                <div class="row">
                    <label>Адрес</label>
                    <input class="input-field input-address" id="address" type="text" name="address"
                           placeholder="Улица, дом, корпус, квартира" value="{{ address.address }}">

                </div>
                <div class="row">
                    <div class="row-cell">
                        <label>Город</label>
                        <input class="input-field" id="city" type="text" name="city" placeholder="Город"
                               value="{{ address.city }}">
                    </div>

                    <div class="row-cell">
                        <label>Страна</label>
                        <input class="input-field" id="country" type="text" name="country" placeholder="Страна"
                               value="{{ address.country }}">
                    </div>

                    <div class="row-cell">
                        <label>Индекс</label>
                        <input class="input-field" id="postcode" type="text" name="postcode" placeholder="Индекс"
                               value="{{ address.postcode }}">
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-url="/api/address/{{ address.id }}"
                        onclick="changeAddress (this)">Сохранить изменения
                </button>
            </form>
        </div>

        <div class="new_address">
            <button class="addresses_new-item" id="new-address" onclick="addNewAddress (this)">
                <svg class="show-block" id="img-add" height="32px" style="enable-background:new 0 0 32 32;"
                     version="1.1"
                     viewBox="0 0 32 32"
                     width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"><path
                            d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"/></svg>

                <svg class="block" id="img-arrow" enable-background="new 0 0 32 32" height="32px" version="1.1"
                     viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"><path
                            d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z"
                            fill="#515151"/>
                </svg>
                <span>Добавить новый адрес</span>

            </button>

            <form class="address-form block" id="add_new">
                <div class="row">
                    <label>Адрес</label>
                    <input class="input-field input-address" id="address" type="text" name="address"
                           placeholder="Улица, дом, корпус, квартира" value="">
                </div>

                <div class="row">
                    <div class="row-cell">
                        <label>Город</label>
                        <input class="input-field" id="city" type="text" name="city" placeholder="Город"
                               value="">
                    </div>

                    <div class="row-cell">
                        <label>Страна</label>
                        <input class="input-field" id="country" type="text" name="country" placeholder="Страна"
                               value="">
                    </div>

                    <div class="row-cell">
                        <label>Индекс</label>
                        <input class="input-field" id="postcode" type="text" name="postcode" placeholder="Индекс"
                               value="">
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-url="/api/address/" data-id="{{ user.id }}"
                        onclick="createNewAddress (this)">Добавить новый адресс
                </button>
            </form>
        </div>

    </div>
{% endblock %}
