{% extends "./layout.njk" %}

{% block main_profile %}
    <div class="edit">
        <h4 class="title">Редактирование профиля</h4>
        <div class="edit__inner">
            <div class="edit-form">
                <form>

                    <div class="row">
                        <div class="row-cell">
                            <label>Номер телефона</label>
                            <input class="input-field" id="phone" type="text" placeholder="Номер телефона"  value="{{ user.phone }}" onfocusout="collectData ()">
                        </div>

                        <div class="row-cell">
                            <label for="exampleInputEmail1">Email</label>
                            <input class="input-field" id="email" type="email" placeholder="Email" value="{{ user.email }}" onfocusout="collectData ()">
                        </div>

                    </div>

                    <div class="row">
                        <div class="row-cell">
                            <label>Имя</label>
                            <input class="input-field" id="name" type="text" placeholder="Имя" value="{{ user.name }}" onfocusout="collectData ()">

                        </div>
                        <div class="row-cell">
                            <label>Фамилия</label>
                            <input class="input-field" id="surname" type="text" placeholder="Фамилия" value="{{ user.surname }}" onfocusout="collectData ()">
                        </div>
                    </div>

{#                    {% for address in addresses %}#}

                    <div class="row">
                        <div class="row-cell">
                            <label>Адрес #{{loop.index}}</label>
                            <input class="input-field input-address" id="address" type="text"
                                   placeholder="Улица, дом, корпус, квартира" value="{{ address.address }}" onfocusout="collectData ()">
                        </div>
                    </div>


                    <div class="row">
                        <div class="row-cell">
                            <label>Город</label>
                            <input class="input-field" id="city" type="text" placeholder="Город" value="{{ user.city }}" onfocusout="collectData ()">
                        </div>

                        <div class="row-cell">
                            <label>Страна</label>
                            <input class="input-field" id="country" type="text" placeholder="Страна" value="{{ user.country }}" onfocusout="collectData ()">
                        </div>

                        <div class="row-cell">
                            <label>Индекс</label>
                            <input class="input-field" id="postcode" type="text" placeholder="Индекс" value="{{ user.postcode }}" onfocusout="collectData ()">
                        </div>
                    </div>
{#                    {% endfor %}#}

                    <div class="row">
                        <div class="form-gender">
                            <label for="gender">Укажите пол: </label>
                            <input class="gender" type="radio" name="gender" value="male">Мужской<br>
                            <input class="gender" type="radio" name="gender" value="female"> Женский<br>
                            <input class="gender" type="radio" name="gender" value="other" checked> Другой
                        </div>
                    </div>

                    <div class="row-info">
                        <label class="textarea-label">About Me</label>

                        <textarea class="textarea" id="textarea" rows="5" cols="70" placeholder="Here can be your description" onfocusout="collectData ()">
                        </textarea>

                    </div>

                    <button type="submit" class="btn btn-info">Сохранить изменения</button>
                    {#                    <div class="clearfix"></div>#}
                </form>
            </div>

            <div class="edit-avatar">

                <img class="avatar" src="https://placehold.it/130x130" alt="..."/>
                <h4 class="title">Mike Andrew<br/>
                    <small>michael24</small>
                </h4>

                <button class="btn btn-info" type="submit">Изменить</button>

            </div>
        </div>
    </div>


{% endblock %}
