{% extends "./layout.njk" %}

{% block preScript %}
{#    $('.collapse').on('show.bs.collapse', function () {#}
{#    $('.collapse.in').collapse('hide');#}
{#    });#}
{% endblock %}

{% block main_profile %}
    <div class="col-auto">
        <table class="table table-condensed ml-5 " style="border-collapse:collapse;">
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Статус заказа</th>
                <th>Сумма заказа</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr data-toggle="collapse" data-target="#demo1">
                <td>1</td>
                <td>05 May 2013</td>
                <td class="text-success">Выполнен</td>
                <td class="text-success">$150.00</td>
                <th>
                    <button type="submit" class="btn btn-info">Повторить</button>
                </th>
            </tr>
            <tr>
                <td colspan="6" class="hiddenRow">
                    <div id="demo1" class="collapse">Demo1</div>
                </td>
            </tr>

            <tr data-toggle="collapse" data-target="#demo2">
                <td>2</td>
                <td>05 May 2013</td>
                <td class="text-success">Выполнен</td>
                <td class="text-success">$150.00</td>
                <th>
                    <button type="submit" class="btn btn-info">Повторить</button>
                </th>
            </tr>
            <tr>
                <td colspan="6" class="hiddenRow">
                    <div id="demo2" class="collapse">Demo2</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
