{% extends "./../layout.njk" %}

{#{{ user }}#}
{% block preStylesheet %}
    <link href="/css/profile.min.css" rel="stylesheet"/>
    <link href="/css/catalog.min.css" rel="stylesheet">
{% endblock %}

{% block preScript %}
    <script src="/scripts/profile.js"></script>
{% endblock %}

{% block content %}
{#    <a href="/resetpassword/reset" type="button" >reset password</a>#}

    <div class="container">
        <div class="profile-wrapper">
            <div class="breadcrumb_1">
                <ul class="breadcrumb-path">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/profile/">Профиль</a></li>
                </ul>
            </div>
            {% block sidebar %}
                {% include "./sidebar.njk" %}
            {% endblock sidebar %}

            <div class="main-panel">
                {% block main_profile %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock %}
