{% extends "./../layout.njk" %}

{#{{ user }}#}
{% block preStylesheet %}
    <link href="./css/profile.css" rel="stylesheet"/>
    <link href="/css/catalog.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <a href="/resetpassword/reset" type="button" >reset password</a>

    <div class="container">
        <div class="profile-wrapper">
            <div class="breadcrumb_1">
                <ul class="breadcrumb-path">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/profile/">Профиль</a></li>
                </ul>
            </div>
            <h2 class="profile-title">Профиль</h2>
            <div class="menu__profile">
                <h4>Личная информация</h4>
                <div class="menu__block">
                    <a href="/profile" class="">Профиль</a>
                    <a href="/profile/favorites" class="">Адреса доставки</a>
                </div>
                <h4>Покупки</h4>
                <div class="menu__block">
                    <a href="/cart" class="">Моя корзина</a>
                    <a href="profile/history" class="">История заказов</a>
                </div>
                <h4>Списки</h4>
                <div class="menu__block">
                    <a href="/profile/favorites" class="">Избранное</a>
                    <a href="profile/history" class="">Купленные товары</a>
                    <a href="profile/" class="">Электронные чеки</a>
                    <a href="/profile/" class="">Мои возвраты</a>
                </div>
            </div>


            <div class="main-panel">
                {% block main_profile %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock %}
