{% extends "./layout.njk" %}

{% block main_profile %}
    <div class="panel-section">
        <h4 class="panel-title">Профиль пользователя</h4>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Телефон
                 </span>
                <span class="">{{ user.phone }}</span>
            </div>
            <a href="/profile/edit" class="profile-edit">Изменить</a>
        </div>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Почта
                 </span>
                <span class="">{{ user.email }}</span>
            </div>
            <a href="/profile/edit" class="profile-edit">Изменить</a>
        </div>
        <a class="btn btn-reset" href="/resetpassword/reset" type="button" >Востановление пароля</a>

        <a class="profile-exit" href="#">Выйти на всех устройствах</a>
    </div>

    <div class="panel-section">
        <h4 class="panel-title">Личные данные</h4>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    ФИО
                 </span>
                <span class="">{{ user.lastname }}{{ user.name }}</span>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Дата рождения
                 </span>
                <span class="">Не указано</span>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Пол
                 </span>
                <span class="">Мужской</span>
            </div>

        </div>
        <a href="/profile/edit" class="profile-edit">Изменить личные данные</a>
    </div>

    <div class="panel-section">
        <h4 class="panel-title">Публичные данные</h4>
        <div class="profile-info">
            <div class="info-descr">
                <p>
                    Информация, которая вы укажите в этом разделе, публичная. Она указывается рядом с отзывами и видна
                    другим пользователям.
                </p>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Имя
                 </span>
                <span class="">{{ user.name }}</span>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Страна, город
                 </span>
                <span class="">Не указано</span>
            </div>

        </div>
        <a href="/profile/edit" class="profile-edit">Изменить публичные данные</a>
    </div>

    <div class="panel-section">
        <h4 class="panel-title">Социальные сети</h4>
        <div class="profile-info">
            <div class="info-descr">
                <span class="info-subtitle">
                    Инстаграм
                 </span>
                <span class="">Не указано</span>
            </div>
        </div>
        <a href="/profile/edit" class="profile-edit">Изменить данные социальных сетей</a>
    </div>


    {% endblock %}


    {#    <li class="">#}
    {#        <span class="">City: </span>#}
    {#        {{ user.city }}#}
    {#    </li>#}
    {#    <li class="">#}
    {#        <span class="">Country: </span>#}
    {#        {{ user.country }}#}
    {#    </li>#}
    {#    <li class="">#}
    {#        <span class="">Address: </span>#}
    {#        {{ user.adress }}#}
    {#    </li>#}
