{% extends "./layout.njk" %}

 {% block preScript %}
     <script src="/scripts/addProductToCart.js"></script>
     <script src="/scripts/catalog.js"></script>
{#     <script src="/scripts/profile/favorites.js"></script>#}
 {% endblock %}

{% block main_profile %}
    <h3 class="section-title">
        Купленные товары
    </h3>
    <div id="purchases">
    {% for orderItem in orderItems %}
        <div class="catalog__item">
            <div class="item__img">
                <img src=" {{ orderItem.mURL }}">
            </div>

            <button class="icon-favorite {{ "selected" if orderItem.favorite }}"
                    data-id="{{ orderItem.id }}"
                    {% if orderItem.favorite %}
                        data-favorite="{{ orderItem.favorite }}"
                    {% endif %}

                    {#                                        data-url="/api/favorite/"#}
                    onclick="addItemInFavorites (this)">

                <svg enable-background="new -0.709 -11.555 141.732 141.732" id="Livello_1"
                     version="1.1"
                     viewBox="-5 -11.555 152.732 141.732" xml:space="preserve"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g
                                                id="Livello_82">
                                            <path d="M140.314,37.654C140.314,16.858,123.402,0,102.537,0c-13.744,0-25.77,7.317-32.379,18.255C63.549,7.317,51.521,0,37.777,0   C16.912,0,0,16.858,0,37.654c0,10.821,4.588,20.57,11.922,27.438h-0.01l54.084,51.584c0.992,1.188,2.48,1.945,4.148,1.945   c1.545,0,2.936-0.653,3.92-1.696l54.346-51.833h-0.016C135.729,58.225,140.314,48.476,140.314,37.654"/>
                                        </g>
                    <g id="Livello_1_1_"/>
                                    </svg>
            </button>

            <div class="item__info">
                <div class="item__name">
                    {{ orderItem.product_id }}
                    <a href="/catalog/item/{{ orderItem.product_id }}">{{ orderItem.name }}</a>
                </div>
                <div class="item__price-container">
                    {% if product.quantity > 0 %}
                        <div class="product-qty" data-th="Quantity">
                            <button class="btnMinus" data-id="{{ orderItem.id }}"
                                    onclick="decreaseValue(this.dataset.id)">-
                            </button>
                            <input type="number" id="input{{ product.id }}" data-id="{{ orderItem.id }}"
                                   class="quantityProduct " value="{{ product.quantity }}" min="0"
                                   onchange="quantityInput(this.dataset.id)">
                            <button class="btnPlus" data-id="{{ product.id }}"
                                    onclick="increaseValue(this.dataset.id)">+
                            </button>
                        </div>
                    {% else %}
                        <a class="item__to-basket" id="btn{{ orderItem.id }}" data-id="{{ orderItem.id }}"
                           type='button' title="Положить в корзину"
                           onclick="requestAndElemSwap(this.dataset.id)">
                            В корзину
                        </a>
                    {% endif %}
                    <div class="item__price">
                        <span class="price">{{ orderItem.sellingPrice | addPennies }} </span>
                    </div>
                </div>

                {#<div class="item__other-info">#}
                {#<p>В наличии {{ product.stock }} шт</p>#}
                {#<p>Доставка сегодня</p>#}
                {#</div>#}
            </div>


        </div>
    {% endfor %}
    </div>
{% endblock %}
