{% extends "./layout.njk" %}

{% block preScript %}
    {#    $('.collapse').on('show.bs.collapse', function () {#}
    {#    $('.collapse.in').collapse('hide');#}
    {#    });#}
{% endblock %}

{% block main_profile %}

    <div class="comments">
        <h5>Раздел находится в разработке</h5>
    </div>

{% endblock %}
