<h2 class="profile-title">Профиль</h2>
<div class="menu__profile">
    <h4 class="panel-title">Личная информация</h4>
    <div class="menu__block">
        <a href="/profile" class="">Профиль</a>
        <a href="/profile/addresses" class="">Адреса доставки</a>
    </div>
    <h4 class="panel-title">Покупки</h4>
    <div class="menu__block">
        <a href="/cart" class="">Моя корзина</a>
        <a href="profile/history" class="">История заказов</a>
    </div>
    <h4 class="panel-title">Списки</h4>
    <div class="menu__block">
        <a href="/profile/favorites" class="">Избранное</a>
        <a href="profile/history" class="">Купленные товары</a>
        <a href="profile/" class="">Электронные чеки</a>
        <a href="/profile/" class="">Мои возвраты</a>
    </div>
</div>
