/config/config.json
/config/mailerconfig.js
/config/passport.js
/public/*
public/
/logs/
.idea/*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
