{% extends "layout.njk" %}

{% block preStylesheet %}
    <link href="/css/catalog.min.css" rel="stylesheet">
{% endblock %}

 {% block preScript %}
     <script src="scripts/addProductToCart.js"></script>
 {% endblock %}

{% block content %}
    <div class="main__content">
        <!--   breadcrumb -->
        <div class="container">
            <div class="breadcrumb_1">
                <ul class="breadcrumb-path">
                    <li><a href="/">Главная</a></li>
                    <li class="active">Каталог</li>
                </ul>
            </div>
            <!--   catalog container -->
            <div class="catalog">
                <div class="catalog__category">
                    <span class="empty"> </span>

                    <span class="category-title">Популярные категории</span>
                    <ul>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>

                    </ul>

                    <span class="category-title">Корпусы</span>
                    <ul>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>
                        <li><a href="#">Обложки</a></li>
                    </ul>
                </div>

                <div class="catalog__bar">
                    <h3>Категории</h3>
                    <div class="category__container">
                        {% for category in categories %}
                            <div class="category__item">
                                <a href="/catalog/{{ category.id }}">
                                    <h5>{{ category.name }}</h5>
                                    <img src="https://placehold.it/280x160">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <h4 class="title__side-left">Популярные товары</h4>
                    <div class="category__container">

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!--   catalog -->

{#        <div class="main__content">#}
{#            <!--   breadcrumb -->#}
{#            <div class="container">#}
{#                <div class="breadcrumb_1">#}
{#                    <ul class="breadcrumb-path">#}
{#                        <li><a href="/">Главная</a></li>#}
{#                        <li class="active">Каталог</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!--   catalog container -->#}
{#                <div class="catalog">#}
{#                    <div class="catalog__category">#}
{#                        <span class="empty"> </span>#}

{#                        <span class="category-title">Популярные категории</span>#}
{#                        <ul>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}

{#                        </ul>#}

{#                        <span class="category-title">Корпусы</span>#}
{#                        <ul>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                            <li><a href="#">Обложки</a></li>#}
{#                        </ul>#}
{#                    </div>#}

{#                    <div class="catalog__bar">#}
{#                        <h3>Категории</h3>#}
{#                        {% for product in products %}#}
{#                            <div class="catalog__item">#}
{#                                <div class="item__img">#}
{#                                    <img src=" {{ product.mURL }}">#}
{#                                </div>#}

{#                                <div class="item__info">#}
{#                                    <div class="item__name">#}
{#                                        <a href="#">{{ product.name }}</a>#}
{#                                    </div>#}
{#                                    <div class="item__price-container">#}
{#                                        <a class="item__to-basket" data-id="{{ product.id }}" type='button' title="Положить в корзину">#}
{#                                            В корзину#}
{#                                        </a>#}
{#                                        <div class="item__price">#}
{#                                            <span><span class="price">{{ product.price }} </span></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="item__other-info">#}
{#                                        <p>В наличии 42 шт</p>#}
{#                                        <p>Доставка сегодня</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}

{#            <div class="main__content">#}
{#                <div class="container">#}
{#                            <!-- хлебные крошки  -->#}
{#                    <div class="catalog">#}
{#                        <div class="catalog__filters">#}
{#                            <ul class="catalog__filters-item">#}
{#                                {% for category in categories %}#}
{#                                    <li><a href="/catalog/{{ category.id }}"> {{ category.name }}</a></li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- Catalog bar -->#}
{#                        <div class="catalog__bar">#}



{#                        </div>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{% endblock %}
