{% extends "layout.njk" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categories</li>
        </ol>
    </nav>


    <form action="/admin/categories/add" method="post" target="_self">
        name:<br>
        <input type="text" name="name" value="Category name"><br>
        description:<br>
        <input type="text" name="description" value="Description of category"><br><br>
        <input type="submit" value="Submit">
    </form>
    <table>
        {% for category in categories %}
            <tr>
                <td class="tableTd">{{ category.id }}</td>
                <td class="tableTd">{{ category.name }}</td>
                <td class="tableTd">{{ good.description }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}