{% extends "layout.njk" %}

{% block content %}

    <section class="contacts">
        <div class="container shadow">

            <div class="contacts__inner">
                <h1 class="contacts-title">Контакты</h1>
                <span>Телефон: <a href="tel:+79998887766">+7(999)888-77-66</a></span>
                <p>Время работы: 8:00 19:00 </p>
                <span class="contacts-email">E-mail:
                    <a href="mailto:inbox@laserfan.ru">inbox@laserfan.ru</a></span>

                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A615709c204fdbfb1729d40b2498a3d6a9de2ff36e3958b46b6c7b1c576f622d5&amp;source=constructor" width="820" height="510" frameborder="0"></iframe>

                <div class="contacts__way">
                    <h3>Как к нам добраться:</h3>
                    <ul>
                        <li>от м.Отрадное автобусами №605, 98, С6</li>
                        <li>от м.Отрадное пешком 15-20 минут</li>
                    </ul>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
