{% extends "layout.njk" %}

{% block preScript %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=2b3433d1-42c5-46c5-bb39-e7ba8acc2cd6&lang=ru_RU"
            type="text/javascript">
    </script>

    <script type="text/javascript">
      ymaps.ready(init)

      function init () {
        var myMap = new ymaps.Map('map', {
          center: [55.76, 37.64],
          zoom: 7,
        })
      }
    </script>

{% endblock preScript %}

{% block content %}

    <section class="contacts">
        <div class="container">
            <div class="breadcrumb">
                <ul class="breadcrumb-path">
                    <li><a href="/">Главная</a></li>
                    <li class="active">Контакты</li>
                </ul>
            </div>
            <div class="contacts__inner">
                <div class="vcard">
                    <div class="contact">
                        <span>Контакты </span><span class="fn org">ЛазерФан</span>
                    </div>
                    <div class="phoneNumberHeader">
                        <span>Телефон:</span>
                        <div class="phoneNumber">
                            <a class="tel" href="tel:+79033332211">+7 (903) 333 22 11</a>
                        </div>
                    </div>
                    <div class="workTime">
                        <span>Время работы: </span><span class="workhours">ежедневно с 8:00 до 17:00</span>
                    </div>
                    <div class="emailsHeader">
                        <span>E-mail:</span>
                        <div class="email_1">
                            <a href="mailto:info@laserfan.ru">info@laserfan.ru</a>
                        </div>
                        <div class="email_2">
                            <a href="mailto:zakaz@laserfan.ru">zakaz@laserfan.ru</a>
                        </div>
                    </div>
                    <div class="address">
                        <span>Адрес: 12893, Россия, </span>
                        <span class="locality">г. Москва</span>,
                        <span class="street-address">1-й Поворот налево, у будки спросить пса Бориса</span>
                    </div>
                    <div id='map' style='width: 100%; height: 500px'></div>
                    <div class="routeMapHeader">
                        <div class="route_1">
                            <span>от м. "Кукуево", автобусом №151</span>
                        </div>
                        <div class="route_2">
                            <span>от м. "Тутуево", автобусом №152 или Пешком</span>
                        </div>
                    </div>
                    <div class="instruction">
                        <span>Бла бла затем бла бла</span>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
