<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--first">
                <div class="footer__logo">
                    ЛазерФан
                </div>
                <div class="footer__text">
                    <p>Хотите нестандартных изделий и необычных решений!?</p>

                    <p>Тогда Вам к нам!</p>

                    <p><a href="#">inbox@laserfan.ru</a></p>
                    <p>Тел/WhatsApp: <a href="tel:+79265211479">8 (926) 521-14-79</a></p>

                    <p>г. Москва, Отрадное, Юрловский проезд вл. 2а</p>

                </div>
                <div class="footer__social">
                    <div class="footer__social-header">
                        <span>15k</span> followers
                    </div>
                    <div class="footer__social-content">
                        Follow Us:
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-dribbble"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-tumblr"></i>
                        </a>
                    </div>
                </div>
                <form class="subscribe" action="/" method="post">
                    <input class="subscribe__input" type="email" name="name" placeholder="Your Email...">
                    <button class="subscribe__btn" type="submit">Subscribe</button>
                </form>
            </div>

            <div class="footer__col footer__col--second">
                <div class="footer__title">
                    blogs
                </div>
                <div class="blogs">
                    <div class="blogs__item">
                        <img class="blogs__img" src="/images/blogs-1.jpg">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </a>
                            <div  class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="/images/blogs-1.jpg">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">
                                Consectetur adipiscing elit,
                                sed do eiusmod tempor
                            </a>
                            <div  class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="/images/blogs-1.jpg">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">
                                sed do eiusmod tempor
                                incididunt ut labore
                            </a>
                            <div  class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__col footer__col--third">
                <div class="footer__title">
                    instagram
                </div>
                <div class="instagram">
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="/images/insta-1.jpg">
                    </a>

                </div>
                <a class="footer__view">View more photos</a>
            </div>
        </div>
        <div class="copyright">
            © 2019 <span>ЛазерФан</span>
        </div>

    </div>
</footer>