{% extends "layout.njk" %}

{% block content %}


    {% block slider %}
        {% include "slider.njk" %}
    {% endblock slider %}

    {% block preview %}
        {% include "preview.njk" %}
    {% endblock preview %}

{% endblock %}

