{% extends "layout.njk" %}

{% block content %}
{#    {{ user }}#}
{#    {{ 'user' }}#}
{#    <h1>HOMEPAGE</h1>#}
{#    <h1>  {{ user.name }}</h1>#}
    {% block slider %}
        {% include "slider.njk" %}
    {% endblock slider %}

    {% block services %}
        {% include "services.njk" %}
    {% endblock services %}

{% endblock %}

