<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap">
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
    {% block stylesheet %}{% endblock %}
    {% block preScript %}{% endblock %}
</head>

<body>
{% block nav %}
    {% include "navbar.njk" %}
{% endblock nav %}
<div id="main-content">
    {% block content %}{% endblock %}
</div>

{#<script src="../public/javascripts/slider.js"></script>#}

{% block footer %}
    {% include "footer.njk" %}
{% endblock footer %}

{% block postScript %}{% endblock %}
<script src="/scripts/jQuery/jquery-3.4.1.min.js" ></script>
<script src="/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
