<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="/css/style.min.css"/>
{#    <link rel="stylesheet" href="/css/style.css.map"/>#}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap">
    <script src="/scripts/jQuery/jquery-3.4.1.min.js" ></script>

    {% block preStylesheet %}{% endblock %}

    {% block preScript %}{% endblock %}
</head>

<body>

<div class="main">
    {% block nav %}
        {% include "navbar.njk" %}
    {% endblock nav %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include "footer.njk" %}
    {% endblock footer %}
</div>


{% block postScript %}{% endblock %}
</body>
</html>
