
<section class="services">
    <div class="container">
        <div class="services__inner">
            <div class="block__services services-link">
                <span>услуги</span>
            </div>
            <div class="block__services catalog-link">
                <span>каталог</span>
            </div>
        </div>

    </div>
</section>