<div class="slider">
    <div class="container shadow">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    <div class="slider_img">
                        <img src="https://placehold.it/1150x400">
                    </div>
                    <div class="slider__title">
                        <h1>Мастерская лазерной резки</h1>
                        <a class="slider__btn" href="/catalog">Сделать заказ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
