@charset "UTF-8";
body {
  padding: 50px;
  margin: 0;
  padding: 0;
  font: 14px 'Roboto', sans-serif; }

a {
  color: #00B7FF; }

.header {
  background-color: #f8f8f8; }
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px; }

.btn__menu {
  width: 40px;
  display: none; }
  .btn__menu div {
    height: 5px;
    margin-bottom: 5px;
    background-color: #2f3f54; }

.logo {
  display: flex;
  justify-content: center; }
  .logo a img {
    height: 40px; }
  .logo .logo__text {
    font-size: 30px;
    font-weight: 700;
    color: #ED3312; }
  .logo .text {
    color: #f2e81a; }

.menu__list {
  display: flex;
  list-style: none; }
  .menu__list li {
    padding-left: 38px; }
  .menu__list a {
    color: #2f3f54;
    font-weight: 700; }

#main-content {
  min-height: 70vh; }

.main__content {
  margin: 30px 0; }

.catalog {
  display: flex;
  justify-content: space-between; }

.catalog__filters {
  margin-right: 20px; }
  .catalog__filters-item li a {
    display: block;
    width: 150px;
    padding: 5px 20px;
    margin-bottom: 20px; }

.catalog__bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .catalog__bar .catalog__item {
    width: 150px;
    margin-right: 20px;
    margin-bottom: 30px; }

.item__img {
  height: 150px; }

.item__info {
  margin: 10px 0;
  padding: 0 5px; }

.item__price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }

.block__item {
  display: flex;
  justify-content: space-around; }
  .block__item-photo {
    width: 48%; }
  .block__item-info {
    width: 48%;
    margin-left: 30px; }
  .block__item .item__title {
    margin-bottom: 20px; }
  .block__item .items__btns {
    margin: 20px auto; }
    .block__item .items__btns button {
      width: 110px;
      padding: 5px 20px;
      margin-right: 20px;
      text-align: center; }
  .block__item .items__info-contain .item__links {
    margin: 20px auto; }
    .block__item .items__info-contain .item__links a span {
      padding: 5px;
      vertical-align: center; }
  .block__item .items__info-contain .item__contain-descr {
    padding: 20px;
    border: 5px dashed rgba(237, 51, 18, 0.45); }

.product_table {
  border: black 1px solid;
  text-align: center; }
  .product_table th {
    background-color: rgba(129, 207, 255, 0.33);
    padding: 5px 10px; }
  .product_table .tableTd {
    border: black 1px solid;
    padding: 5px 10px; }

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 30px auto; }

.slider__wrapper {
  position: relative;
  overflow: hidden; }

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease; }

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%; }

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2); }

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9; }

.slider__control_prev {
  left: 120px; }

.slider__control_next {
  right: 120px; }

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0 15%; }

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.slider__indicators li.active {
  background-color: #fff; }

.services .services__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .services .services__inner .block__services {
    width: 50%;
    height: 250px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative; }
    .services .services__inner .block__services span {
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
  .services .services__inner .services-link {
    background-color: rgba(237, 51, 18, 0.5); }
  .services .services__inner .portfolio-link {
    background-color: rgba(237, 178, 63, 0.5); }
  .services .services__inner .catalog-link {
    background-color: rgba(242, 232, 26, 0.51); }

.profile-promo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center; }

.footer {
  padding-top: 45px;
  background-color: #f8f8f8;
  font-size: 13px; }
  .footer__inner {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px; }
  .footer__col {
    padding: 0 15px; }
    .footer__col--first {
      width: 40%; }
    .footer__col--second {
      width: 29%; }
    .footer__col--third {
      width: 22%; }
  .footer__logo {
    color: #ccc;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px; }
  .footer__text {
    color: #999;
    margin-bottom: 30px; }
    .footer__text a {
      color: #ED3312; }
  .footer__social {
    margin-bottom: 25px; }
    .footer__social-header {
      color: #333;
      size: 14px;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 15px; }
      .footer__social-header span {
        font-weight: 700;
        size: 18px; }
    .footer__social-content {
      padding-top: 15px;
      color: #999;
      font-weight: 300;
      font-style: italic; }
      .footer__social-content a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 18px;
        color: #ED3312; }
  .footer__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px; }
  .footer__view {
    display: block;
    color: #333;
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
    margin-top: 20px; }
  .footer .copyright {
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center; }
    .footer .copyright span {
      color: #ED3312; }

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap; }
  .subscribe__input {
    width: 60%;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    height: 40px;
    padding: 12px;
    color: #333;
    font-weight: 300;
    font-style: italic;
    line-height: 1.1; }
    .subscribe__input::placeholder {
      color: #ccc; }
    .subscribe__input:focus {
      outline: 0;
      border-color: #ED3312; }
  .subscribe__btn {
    width: 40%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #ED3312;
    height: 40px;
    border: 0;
    cursor: pointer;
    padding: 12px 30px;
    line-height: 1.1;
    transition: background .2s linear; }
    .subscribe__btn:hover {
      background-color: rgba(237, 51, 18, 0.64); }
    .subscribe__btn:focus {
      outline: 0; }

.blogs {
  color: #999;
  font-weight: 300;
  font-style: italic;
  font-size: 13px; }
  .blogs__item {
    display: flex;
    margin-bottom: 20px;
    margin-top: 15px;
    align-items: center; }
  .blogs__img {
    width: 120px;
    height: 80px; }
  .blogs__content {
    padding-left: 20px; }
  .blogs__title {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5; }
    .blogs__title:hover {
      text-decoration: underline; }

.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff; }
    .instagram__item img {
      display: block;
      max-width: 100%;
      height: auto; }

.wait {
  cursor: wait; }
