{% extends "../layout.njk" %}

{% block preStylesheet %}
    <link href="/css/catalog.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container shadow">
        <div class="breadcrumb_1">
            <ul class="breadcrumb-path">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/catalog/{{ product.Category.id }}">{{ product.Category.name }}</a></li>
                <li class="active">{{ product.name }}</li>
            </ul>
        </div>

        <div class="block__item">

            <h2 class="item__title">
                {{ product.name }}
            </h2>


            <div class="block__item-wrapper">
                <div class="block__item-photo">
                    <img src="{{ product.mURL }}" alt="#">
                </div>

                <div class="block__item-info">
                    <div class="items__info-contain">
                        {% if  product.features.color | length %}
                            <p>color: {{ product.features.color }}</p>
                        {% endif %}
                        <p>weight: {{ product.features.weight }}</p>
                        <p>material: {{ product.features.material }}</p>
                        <p>dimensions: {{ product.features.dimensions }}</p>
                        <p>width: {{ product.features.dimensions.width }}</p>
                        <a href="#contein-descr">Перейти к описанию</a>
                    </div>

                    <div class="items__btns">
                        <a id="btn_cart" class="item__to-basket" data-id="{{ product.id }}" type='button'
                           title="Положить в корзину">
                            В корзину
                        </a>

                        <div class="item__price">
                            <span><span class="price">{{ product.price }}</span></span>
                        </div>

                        <div class="item__links">
                            <a class="item__to-favorite" title="Избранное">
                                <img src="/images/favorite.png">
                                {#                                <span>Добавить в избранное</span>#}

                            </a>
                            <a class="item__to-social" title="Поделиться">
                                <img src="/images/share.png">
                                {#                                <span>Поделиться</span>#}
                            </a>
                        </div>
                    </div>

                    <div class="block__shipping">
                        <h4>Доставка</h4>
                        <div class="shipping__address">
                            Москва
                            <a href="#">Изменить</a>
                        </div>
                        <div class="item__other-info">
                            <p>В наличии 42 шт</p>
                            <p>Доставка сегодня</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item__contain-descr" id="contein-descr">
            <h4>Описание</h4>
            {{ product.description }}
        </div>

        <div class="tags">
            {% for tag in product.Tags %}
                <span>{{ tag.name }}</span>
            {% endfor %}
        </div>


        <h4>Похожие товары</h4>
        <div class="product_other">

            {% for product in products %}
                <div class="other__item">
                    <div class="other__item-img">
                        <img src=" {{ product.mURL }}">
                    </div>
                    <div class="other__item-info">
                        <div class="item__price">
                            <span><span class="price">{{ product.price }} </span></span>
                        </div>
                        <div class="item__info-name">
                            <a href="#">{{ product.name }}</a>
                        </div>


                        <a class="btn__to-basket" data-id="{{ product.id }}" type='button'
                           title="Положить в корзину">
                            В корзину
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
