{% extends "./../layout.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/order.min.css">
{% endblock %}
{% block preScript %}
    <script src="/scripts/order.js"></script>
{% endblock %}

{% block content %}
    <div class="order">
        <div class="container">
            <div class="order__wrapper">
                <div class="details__order">
                    <h2 class="head-title title-1">Ваши данные</h2>

                    {% include "./recipientInfo.njk" %}

                    <h2 class="head-title title-2">Способ получения</h2>
                    {% include "./shipping.njk" %}

                    <h2 class="head-title title-3">Состав заказа</h2>

                    {% for product in products %}
                        <div class="content order-row">
                            <div class="order__item">

                                <div class="order__item-img">
                                    <img src="{{ product.mURL }}">
                                </div>

                                <div class="order__item-qty">
                                    <span class="qty-weight">
                                    {{ product.name }}
                                    </span>
                                    <div class="qty-num">{{ product.quantity }}</div>
                                    {#  30 гр.#}
                                </div>

                                <div class="order__item-day">
                                    <h5>Доставим</h5>
                                    <div>
                                        3 - 4 дня
                                    </div>
                                    <div>
                                        Стоимость доставки
                                    </div>
                                    <div>
                                        нужно найти писать ли здесь стоимость
                                        {{ sumShipping | addPennies }} ₽
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    <h2 class="head-title title-4">Оплата</h2>
                    <div class="content way__pay">

                        {#                    {% include "./promocode.njk" %}#}

                        <h3>Способы оплаты</h3>

                        {% include "./payment.njk" %}

                    </div>

                </div>

                <div class="content payment">
                    <div class="payment__row">
                        <div class="title">
                            <h4>Товары</h4>
                            <div class="descr">
                                {{ products | length }} шт.
                            </div>
                        </div>
                        <div id="sumTotal"> {{ templateData.sumRowTotal | addPennies }} </div>
                    </div>

                    <div class="payment__row row-sale">
                        <div class="title">
                            <h4>Скидка</h4>
                            {# <div class="descr">#}
                            {# <a class="link" id="sale-details" href="#">Подробнее</a>#}
                            {# </div>#}

                        </div>
                        <div id="sumSale"> {{ templateData.sumDiscountInMoney | addPennies }} </div>
                    </div>

                    <div class="payment__row">
                        <div class="title">
                            <h4>Доставка</h4>
                            <div class="descr">
                                {{ products | length }} шт.
                            </div>
                        </div>

                        {% if wayShipping === 'expressDelivery' %}
                            <div id="sumShipping">
                                400
                                {# {{ sumShipping | addPennies }} #}
                            </div>
                        {% else %}
                            <div id="sumShipping"> 0</div>
                        {% endif %}

                    </div>

                    <div class="payment__row total-row">
                        <div class="title">
                            <h2>Итого</h2>
                        </div>
                        {% if wayShipping === 'expressDelivery' %}
                        <div id="total"> {{ (templateData.totalOrder + 40000) | addPennies }} </div>
                        {% else %}
                        <div id="total"> {{ templateData.totalOrder | addPennies }} </div>
                        {% endif %}
                    </div>

                    <button class="btn btn-order" onclick="createOrder ()">
                        Оформить заказ
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
