{% extends "./../layout.njk" %}

{% block content %}

<div class="container">

    <section id="cart" class="cart">
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs">
                                <img src=" {{ product.mURL }}" alt="..." class="img-responsive"/>
                            </div>
                            <div class="col-sm-10 prod-desc">
                                <h6 class="nomargin">{{ product.name }}</h6>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price"><span class="price">{{ product.price }} </span>руб</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center" value="8">
                    </td>
                    <td data-th="Subtotal" class="text-center">$64.34</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td><a href="#" class="btn btn-general btn-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total $150.99</strong></td>
                    <td><a href="#" class="btn btn-general btn-green">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>

</div>

{% endblock %}
