{% block stylesheet %}
    <link rel="stylesheet" href="/css/mail.min.css">
{% endblock %}
Подтверждение регистрации.
Вы зарегистрировались на сайте DOMAIN.
Для завершения регистрации остался один шаг:
пожалуйста, подтвердите свой email,
нажав на кнопку BUTTON
