html
  box-sizing: border-box
  height: 100%
*,
*::before,
*::after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  font: 16px 'Roboto', sans-serif
  height: 100%
  //display: flex
  //flex-direction: column
  //justify-content: space-between
  //min-height: 100vh

.main
  min-height: calc(100vh - 206px)


.container
  max-width: 1200px
  height: 100%
  margin: 0 auto
  padding: 0

ul
  padding: 0
  margin: 0
  list-style: none

a
  text-decoration: none

h1, h2, h3, h4, h5, h6, p
  padding: 0
  margin: 0

.breadcrumb-path
  margin: 0
  list-style: none
  font-size: 14px
  //padding-left: 10px
  li
    display: inline-block
    padding: 10px 0
    &::after
      content: '>'
      margin-left: 5px
    &:last-child::after
      content: ''
    a
      color: #0F1010
