//cart
.section-title
  margin-top: 0
.cart
  background-color: rgba(223, 223, 223, 0.2)
  width: 100%
  min-height: 800px
  height: 100%
  padding: 20px 0
  border-top: 2px solid #ffffff
  border-bottom: 2px solid #ffffff
.cart__wrapper
  display: flex
  margin-top: 30px !important
  width: 100%
  h2
    width: 100%

  .cart__inner
    width: 70%
  .order
    width: 30%
    //padding: 0 10px
    display: flex
    flex-direction: column

.table
  display: flex
  justify-content: space-between
  flex-direction: column
  width: 100%
  padding-right: 5px

.column-items
  background-color: #ffffff
  border-radius: 5px
  padding: 10px

.row__menu
  display: flex
  align-items: center
  .cart-action
    display: block
    margin-right: 20px
  .cart-delete
    color: #9b0000

.row
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid rgba(189, 190, 190, 0.46)
  padding: 20px 0
  &:last-child
    border-bottom: none

.row_grid-outstock
  display: grid
  grid-column-gap: 5px
  grid-template-columns: 30px 100px 4fr 100px
  grid-template-areas: "a b c d"
  opacity: 0.7
  padding: 5px 0
  .product-select
    grid-area: a
  .product-img
    grid-area: b
    padding-right: 15px
    .img__product
      width: 50px
      height: 50px
  .product-main
    grid-area: c
  .actions
    grid-area: d

.row-grid
  display: grid
  grid-column-gap: 5px
  grid-template-columns: 30px 1fr 4fr 100px
  grid-template-areas: "a b c f" "a b c e" " a b d g "

.product-select
  grid-area: a
  padding-right: 5px

.product-img
  grid-area: b
  padding-right: 15px
  .product-img__img
    width: 80px
    height: 80px

.product-main
  grid-area: c
  padding-right: 15px
  //width: 40%
  .prod-desc
    h4
      margin: 0 10px 10px 0
    p
      margin-top: 0

.product-qty
  grid-area: d
  width: 110px
  display: flex
  justify-content: space-around
  align-items: center
  margin-right: 10px
  input
    width: 50px
    height: 20px
    padding: 5px
    margin: 0
    text-align: center
    font-weight: 500
    font-size: 14px
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none
    margin: 0
  button
    width: 25px
    height: 25px
    border-radius: 50%
    background-color: rgba(128, 128, 128, 0.18)
    color: #b11a41
    //background: rgba(0,0,0,0)
    border: none
    font-weight: 700
    font-size: 18px

.subtotal
  grid-area: e
  grid-column: 13/span 14
  margin: 10px 0

.actions
  grid-area: f
  grid-column: 13/span 14
  text-align: right
  padding-top: 0

.sale
  grid-area: g
  grid-column: 13/span 14
  text-align: left
  color: red
  font-weight: 500

input[type="checkbox"]
  cursor: pointer
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline: 0
  background: lightgray
  height: 18px
  width: 18px
  border: 1px solid white


input[type="checkbox"]:checked
  background: #21d0e0

input[type="checkbox"]:hover
  filter: brightness(90%)

input[type="checkbox"]:disabled
  background: #e6e6e6
  opacity: 0.6
  pointer-events: none

input[type="checkbox"]:after
  content: ''
  position: relative
  left: 30%
  top: 20%
  width: 40%
  height: 50%
  border: solid #fff
  border-width: 0 2px 2px 0
  transform: rotate(45deg)
  display: none

input[type="checkbox"]:checked:after
  display: block

input[type="checkbox"]:disabled:after
  border-color: #7b7b7b

.form-check
  margin: 0

.btn-favorite,
.deleteBtn
  background: none
  border: none
  cursor: pointer
  img
    width: 20px

.form-group
  width: 100%

.form-control
  padding-left: 30px
  border: 1px solid #bcbcbc
  height: 35px
  font-size: 16px
  width: 100%

  margin-bottom: 20px

.input-address
  background-image: url('/images/marker.svg')
  background-size: 20px
  background-repeat: no-repeat
  background-position: 5px


.input-phone
  background-image: url('/images/phone.svg')
  background-size: 20px
  background-repeat: no-repeat
  background-position: 4px

.input-pay
  margin-bottom: 10px
  h4
    margin: 0 0 10px
  .form-check
    margin-bottom: 10px
    font-size: 14px


.btn-order
  width: 100%
  background-color: #005bfa
  color: #ffffff
  font-weight: 700
  border: none
  margin: 5px auto
  padding: 20px
  &:hover
    background-color: rgba(0, 60, 149, 0.93)

.result__order
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-evenly
  background-color: #ffffff
  border-radius: 5px
  padding: 10px
  .order-text
    font-size: 12px
    color: #999
  .cart__total
    h4
      margin: 15px 0
    .row-sale
      color: #a70000
    .cart__total-row
      display: flex
      justify-content: space-between
      padding: 10px 0
      font-size: 14px
      &:last-child
        border-top: 1px solid #bdbebe

//progress bar
.bonus
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-evenly
  background-color: #fff
  border-radius: 5px
  padding: 10px
  margin: 20px 0
  .bonus__header
    display: flex
    justify-content: space-between
    align-items: center
    .title
      margin: 10px 0
    .bonus-btn
      color: #00a8ff
      font-size: 14px
      position: relative
      text-align: right
      span
        position: absolute
        top: 30%
        right: 10px
        border: solid  #00a8ff
        border-width: 0 1px 1px 0
        display: block
        padding: 3px
      .arrow_up
        transform: rotate(-135deg)
        display: none
      .arrow_down
        transform: rotate(45deg)
        margin-left: 5px
  .bonus__body
    font-size: 12px
    color: #999
    .bonus-text
      margin-bottom: 10px


.progress__bar
  height: 100%
  width: 100%
  margin: 30px auto
  text-align: center
  display: flex
  flex-direction: column
  position: relative
  .circle
    display: inline-flex
    align-items: center
    margin-bottom: 15px
    .label
      width: 30px
      height: 30px
      display: block
      padding: 5px
      margin-right: 10px
      background-color: #999
      border-radius: 50%
      color: #ffffff
      font-weight: 700
      z-index: 5

    .active
      background-color: #4eacc5
    .done
      content: url("/images/done.svg")
      z-index: 5
      background-color: #8dc23c


  .progress__line
    width: 6px
    height: 100%

    position: absolute
    left: 12px
    top: -15px
    background-color: rgba(153, 153, 153, 0.54)
    z-index: 1

