.order
  background-color: rgba(223, 223, 223, 0.2)
  height: 100%

.order__wrapper
  display: flex
  justify-content: space-between

.content
  background-color: #ffffff
  padding: 20px
  border-radius: 10px

.details__order
  width: 55%
  .head-title
    padding-left: 10px
    margin: 15px 0
  .title-1:before
    content: '1'
    width: 30px
    height: 30px
    background-color: #333333
    border-radius: 50%
    color: #ffffff
    font-size: 20px
    padding: 4px 10px
    margin-right: 10px
  .title-2:before
    content: '2'
    width: 30px
    height: 30px
    background-color: #333333
    border-radius: 50%
    color: #ffffff
    font-size: 20px
    padding: 4px 10px
    margin-right: 10px
  .title-3:before
    content: '3'
    width: 30px
    height: 30px
    background-color: #333333
    border-radius: 50%
    color: #ffffff
    font-size: 20px
    padding: 4px 10px
    margin-right: 10px
  .title-4:before
    content: '4'
    width: 30px
    height: 30px
    background-color: #333333
    border-radius: 50%
    color: #ffffff
    font-size: 20px
    padding: 4px 10px
    margin-right: 10px

.link
  font-size: 14px
  color: #0000ee

.user_info
  hr
    background-color: #b6b6b6
    height: 1px
  .user_info-name
    display: flex
    justify-content: space-between
    height: 30px
    margin: 20px 0
    hr
      background-color: #b6b6b6
      height: 1px
  form
    padding: 15px 0
    font-size: 14px
    .row
      display: flex
      flex-direction: column
      width: 70%
      margin-bottom: 10px
      font-size: 14px
      position: relative
      label
        margin-bottom: 5px
      input
        padding: 2px 5px
        font-size: 14px
    .done-input
      &:after
        content: ''
        background-image: url('/images/done-order.svg')
        background-size: 20px 20px
        width: 20px
        height: 20px
        z-index: 10
        display: block
        position: absolute
        right: -25px
        top: 23px

  .add-recipient
    padding-top: 20px
    border-top: 1px solid #c5c5c5
    .link
      color: #0000ee
      margin: 10px 0
    .explanations
      font-size: 12px
      color: #999
      margin: 10px 0
    .displayNone
      display: none
    .displayBlock
      display: block
    #new-recipient
      //border-top: 1px solid #c5c5c5
      padding: 10px 0 0
      font-size: 14px
      line-height: 16px
      .row
        margin-bottom: 15px
        display: flex
        flex-direction: column
        width: 70%
        label
          margin-bottom: 5px
        input
          padding: 2px 5px

.input-address
  position: relative
  #clear-input
    position: absolute
    z-index: 10
    top: 5px
    right: 5px
    cursor: pointer
    img
      width: 15px
      opacity: 0.7


.way__shipping
  margin-bottom: 20px
  display: block
  width: 100%
  .shipping-title
    display: flex
    justify-content: space-between
    align-items: center
  .empty
    height: 20px
    width: 100%
    display: block
  .address
    width: 100%
    #address
      margin-bottom: 10px
      font-size: 14px
  .input-address
    margin-bottom: 10px
    display: none
    //display: flex
    justify-content: space-between
    align-items: center
    label
      font-size: 14px
      margin-right: 10px
    .input-field
      width: 80%
      height: 25px
    .input-field::placeholder
      padding: 10px
  .shipping-descr
    color: #939da3
    font-size: 14px
    .address_info
      color: #000000
      h3
        margin-bottom: 10px
      .change-place
        margin: 10px 0
        cursor: pointer
        color: #fff
        background-color: #005bff
        padding: 5px 20px
        border-color: transparent
        font-size: 14px

.way_shipping-title
  font-size: 18px
  font-weight: 700
  margin: 0 0 10px
  p
    margin: 10px 0
    padding: 5px 0 10px
    border-bottom: 1px solid #c5c5c5
    font-size: 14px
    font-weight: 400
    color: #939da3

.order-row
  margin-bottom: 10px
  .order__item
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    .order__item-img
      img
        width: 90px
    .order__item-day
      width: 40%
      color: #939da3
      font-size: 14px
      h5
        font-size: 16px
        margin: 0 0 10px
        color: #1e1e1e

.way__pay
  margin-bottom: 30px
  h3
    margin: 0 0 15px
  form
    display: flex
    flex-direction: column
    justify-content: space-between
    //align-items: center
    .row
      display: flex
      justify-content: space-between
      align-items: center
    .promo
      font-size: 14px
      color: #3ac267
      padding-left: 10px
    #promocode
      height: 30px
      width: 70%
      padding: 4px 10px 6px
      font-size: 14px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      box-shadow: none
      border: 1px solid #c5c5c5
      margin: 10px 0

    .btn-promo
      height: 30px
      width: 29%
      background: #c5c5c5
      opacity: 1
      color: #fff
      border-color: transparent
  .promo-text
    font-size: 14px
    color: #3ac267
    display: none
  .payment-method
    padding: 15px 25px
    margin-bottom: 10px

    border: 1px solid #c5c5c5
    border-radius: 10px

    display: grid
    grid-column-gap: 5px
    grid-template-columns: 11fr 1fr
    grid-template-areas: "a c" "b c"
    .title
      grid-area: a
      font-size: 16px
      font-weight: 700
      //margin: 10px 0
    .descr
      grid-area: b
      font-size: 14px
      color: #3ac267
      margin: 5px 0
    .icon
      grid-area: c
      align-self: center
      justify-self: center
      .icon-img
        width: 30px
        height: 30px

  .method-changed
    border: 2px solid #005bff
    border-radius: 10px

.active-border
  border: 2px solid #005bff

.inactive-border
  border: none

.payment
  width: 40%
  margin-top: 55px
  padding: 35px 25px
  height: 385px
  .payment__row
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    .title
      h4
        margin-bottom: 8px
      .descr
        color: #939da3
        font-size: 14px

  .total-row
    font-weight: 700
    margin: 25px 0 10px
    padding: 20px 0
    border-top: 2px solid #2d3133
    font-size: 20px
    line-height: 28px

#sumSale
  color: #f91155
  font-weight: 700
  &:before
    content: '\2014'
  &:after
    content: ' ₽'

#sumShipping
  color: #3ac267
  font-weight: 700
  &:after
    content: ' ₽'
#total
  &:after
    content: ' ₽'

.qty-num:after
  content: ' шт.'

.btn-order
  width: 100%
  background-color: #3ac267
  color: #ffffff
  font-weight: 700
  font-size: 16px
  border: none
  margin: 0 auto
  padding: 20px
  text-align: center
  &:hover
    background-color: #658728

