//@import "vars"
//@import "libs"
//@import "fonts"
@import "global"


.header
  background-color: #f8f8f8


  .header__inner
    display: flex
    justify-content: space-between
    align-items: center
    height: 87px

.btn__menu
  width: 40px
  display: none

  div
    height: 5px
    margin-bottom: 5px
    background-color: #2f3f54

.logo
  display: flex
  //justify-content: center
  span
    display: inline-block


  a
    img
      height: 40px

  .logo__text
    font-size: 30px
    font-weight: 700
    color: #ED3312

  .text
    color: #f2e81a


.menu__list
  display: flex
  list-style: none


  li
    padding-left: 38px
  a
    color: #2f3f54
    font-weight: 700


#menu__sticky
  padding: 20px 0
  max-width: 100%
  align-items: center
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: #f8f8f8
  box-shadow: 0 3px 10px rgba(0,0,0, .2)
  display: none
  .nav__link
    list-style: none
    color: #2f3f54
  .short_order
    display: flex
    flex-direction: column
    .short_order-link
      text-decoration: underline
      color: #a83930

.sticky
  display: flex
  justify-content: space-between



//Admin
.product_table
  border: black 1px solid
  text-align: center

  th
    background-color: rgba(129, 207, 255, 0.33)
    padding: 5px 10px

  .tableTd
    border: black 1px solid
    padding: 5px 10px

.slider__control_prev::before
  // прошу локально сохранять такие штуки .
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")


.slider__control_next::before
// прошу локально сохранять такие штуки
//background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")


/* стили для индикаторов */
//.slider__indicators
//  position: absolute
//  right: 0
//  bottom: 10px
//  left: 0
//  z-index: 15
//  display: flex
//  justify-content: center
//  padding-left: 0
//  list-style: none
//  margin: 0 15%
//
//
//.slider__indicators li
//  box-sizing: content-box
//  flex: 0 1 auto
//  width: 30px
//  height: 4px
//  margin-right: 3px
//  margin-left: 3px
//  text-indent: -999px
//  cursor: pointer
//  background-color: rgba(255, 255, 255, 0.5)
//  background-clip: padding-box
//  border-top: 10px solid transparent
//  border-bottom: 10px solid transparent
//
//
//.slider__indicators li.active
//  background-color: #fff


//content home page

.footer
  padding-top: 45px
  background-color: #f8f8f8
  font-size: 13px

  width: 100%
  position: absolute
  height: 150px
  bottom: 0

  &__inner
    padding-bottom: 30px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 -15px

  &__col
    padding: 0 15px

    &--first
      width: 40%

    &--second
      width: 29%

    &--third
      width: 22%

  &__logo
    color: #ccc
    font-weight: 700
    font-size: 40px
    margin-bottom: 30px

  &__text
    color: #999
    margin-bottom: 30px

    a
      color: #ED3312

  &__social
    margin-bottom: 25px

    &-header
      color: #333
      size: 14px
      border-bottom: 1px solid #e5e5e5
      padding-bottom: 15px

      span
        font-weight: 700
        size: 18px

    &-content
      padding-top: 15px
      color: #999
      font-weight: 300
      font-style: italic

      a
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        font-size: 18px
        color: #ED3312


  &__title
    text-transform: uppercase
    font-weight: 700
    //font-size: 14px
    margin-bottom: 30px
    margin-top: 20px

  &__view
    display: block
    color: #333
    font-weight: 300
    font-style: italic
    font-size: 13px
    margin-top: 20px

  .copyright
    font-size: 14px
    border-top: 1px solid #e5e5e5
    padding: 20px 0
    text-align: center

    span
      color: #ED3312


.subscribe
  width: 100%
  max-width: 380px
  display: flex
  flex-wrap: wrap

  &__input
    width: 60%
    background-color: #fff
    border: 1px solid #e7e7e7
    border-right: 0
    height: 40px

    padding: 12px
    color: #333
    font-weight: 300
    font-style: italic

    line-height: 1.1

    &::placeholder
      color: #ccc

    &:focus
      outline: 0
      border-color: #ED3312

  &__btn
    width: 40%
    text-transform: uppercase
    color: #fff
    font-weight: 700
    font-size: 14px
    background-color: #ED3312
    height: 40px
    border: 0
    cursor: pointer
    padding: 12px 30px
    line-height: 1.1
    transition: background .2s linear

    &:hover
      background-color: rgba(237, 51, 18, 0.64)

    &:focus
      outline: 0


.blogs
  &__item
    display: flex
    margin-bottom: 20px
    margin-top: 15px
    align-items: center

  &__img
    width: 120px
    height: 80px

  &__content
    padding-left: 20px

  &__title
    display: block
    margin-bottom: 5px
    color: #333
    text-transform: uppercase
    font-size: 12px
    line-height: 1.5

    &:hover
      text-decoration: underline

  &__date
  color: #999
  font-weight: 300
  font-style: italic
  font-size: 13px

.instagram
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  &__item
    width: 33%
    border-bottom: 1px solid #fff

    img
      display: block
      max-width: 100%
      height: auto

.wait
  cursor: wait

#sumTotal
  font-weight: 700

//cart page
.price:after,
.subtotal:after,
#sumTotal:after
  content: " ₽"

//#sumTotal:before
//  content: "Итого: "


.services
  .services__inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .services-title
      width: 100%
      display: inline-block
      margin: 30px 0 20px
      font-size: 38px
    .services-descr
      width: 70%
      p
        margin-top: 0

    .services-aside
      margin-bottom: 50px
      .sort__services
        padding: 20px 30px
        box-shadow: 0px 5px 10px rgba(0, 9, 12, 0.2)
        li
          list-style-type: none
          padding-bottom: 8px
        li:before
          content: " – "


.contacts
  .contacts__inner
    display: flex
    flex-direction: column
    span a
      color: #be9e4b
    .contacts-email,
    iframe
      margin-bottom: 30px
    .contacts__way
      margin-bottom: 30px


//slider

.slider
  display: flex
  justify-content: center
  margin: 0 auto
  .slider__items
    width: 100%
    position: relative
    .slider__title
      width: 100%
      height: 150px
      position: absolute
      top: 30%
      color: #fff
      text-align: center
      h1
        margin-bottom: 50px
        font-size: 40px
      .slider__btn
        background-color: rgb(0, 144, 0)
        padding: 10px 50px
        border-radius: 5px
        color: #fff
        font-weight: 600


      margin: auto
    .slider_img
      //background-image: url("images/slider-bg.jpg")
      //background-repeat: no-repeat
      //width: 100%
      //height: 100px

//preview__pages
.preview__pages
  margin-top: 0
  .preview__block
    padding: 30px 0
    width: 100%
    text-align: center
    .preview__title
      margin: 10px
      font-size: 36px
      color: #404040
    .preview__subtitle
      font-size: 26px
      text-align: center
      color: #404040
      margin: 0 0 5px
    .catalog__slider
      display: flex
      justify-content: space-between

.services__slider
  width: 70%
  margin: 0 auto
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.contacts__info-section
  display: flex
  justify-content: space-around
  span a
    color: #be9e4b
  iframe,
  .contacts__info
    width: 100%
  .contacts__info
    text-align: left
    padding-left: 30px

//catalogItem tags
.tags
  display: block
  margin-top: 20px
  span
    background-color: #0fa7b6
    color: #fff
    font-size: 16px
    font-weight: 600
    border-radius: 5px
    padding: 5px 10px
    margin: 5px


//input btn
.inputVal
  width: 3em
  text-align: center
  margin: 0 10px


