{% block stylesheet %}
    <link rel="stylesheet" href="/css/mail.min.css">
{% endblock %}

Здравствуйте {{user.username}}!<br>
Вы или кто-то другой запросили восстановление пароля. Если Вы считаете, что получили письмо по ошибке, просто проигнорируйте его.<br>
Для восстановления пароля нажмите на кнопку
<a href="http://localhost:3000/resetpassword/approve/{{token}}">СБРОСИТЬ ПАРОЛЬ</a>
и в открывшемся окне введите новый пароль. Ссылка действует 24 часа.
