{% block stylesheet %}
    <link rel="stylesheet" href="/css/mail.min.css">
{% endblock %}
{#<tr class="mail">#}
{#    <td>{{ user.name }}</td>#}
{#    <td>{{ user.email }}</td>#}
{#</tr>#}
Здравствуйте {{ user.username }}! <br>
Спасибо за ваш заказ в магазине popkinks.ru <br>
{% if password %}
Отслеживания информации о заказе возможно в профиле(ссылка) <br>
Ваш логин {{ user.email }} <br>
Ваш пароль {{ password }}, рекомендуем вам его сменить. <br>
{% endif %}

ваш заказ:<br>
<table>
    <tr>
        <th>id</th>
        <th>наименование</th>
        <th>колво</th>
        <th>стоимость</th>
        <th>итого</th>
    </tr>
    {% for item in order.items %}
        <tr>
{#            todo add link to product page#}
            <td>{{ item.Product.id }}</td>
            <td>{{ item.Product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.Product.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{ totalPrice }}</td>
    </tr>
</table>
комментарий к заказу
{{ order.comment }}
тип доставки
{{ order.shipping }}


{#Уважаемый(ая) {{ user.username }} благодарим Вас за то, что Вы воспользовались услугами системы электронного резервирования WEBSITE#}

{#Ваш резерв: XXXXXXX от 04 марта 2020 подтвержден и по нему выписан счет #{{oder.id}}.#}

{#Курьер доставит его вам 06 марта 2020 9-21 по указанному при оформлении заказа адресу:#}
{#"{{ user.address}}"#}
{#Утром в день доставки будьте готовы ответить на звонок курьера по телефону, указанному при оформлении заказа: {{ user.phone}}#}

{#** Состав вашего резерва **#}
{#* 1 шт. x Монитор LG 22BK55WY-B (1 x 7250 руб.)#}
{#* Доставка (300 руб.)#}

{#Всего: {{ order.total }} руб.#}

{#Обращаем Ваше внимание:#}
{#В день доставки вы также получите СМС уведомление с телефоном курьера, который будет доставлять ваш заказ.#}
{#Дополнительную информацию Вы можете получить по телефону +7(XXX)XXX-XX-XX в рабочее время магазина.#}
