{% extends "../adminLayout.njk" %}

{% block preScript %}
    <script src="/scripts/delete.js"></script>
{% endblock %}

{% block mbk %}
    <div class="col-md-10 w-100 mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
        <a class="btn btn-info m-1" role="button" href="/admin/products/add">Add product</a></li>
        <table class="product_table">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>create</th>
                <th>update</th>
                <th colspan="3"></th>
            </tr>
            {% for product in products %}
                <tr>
                    <td class="tableTd"><a href="/admin/products/{{ product.id }}">{{ product.id }}</a></td>
                    <td class="tableTd">{{ product.name }}</td>
                    <td class="tableTd">{{ product.price or "null" }}</td>
                    {#            <td>{{ good.description }}</td>#}
                    {#            <td>{{ good.category }}</td>#}
                    <td class="tableTd">{{ product.createdAt }}</td>
                    <td class="tableTd">{{ product.updatedAt }}</td>
                    <td class="tableTd"><a class="text-success" href="/admin/products/edit/{{ product.id }}">edit</a>
                    </td>
                    <td class="tableTd"><a href="/admin/products/preview/{{ product.id }}">preview</a></td>
                    <td class="tableTd"><a class="text-danger deleteBtn"
                                           href="/admin/products/{{ product.id }}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
