{% extends "../../layout.njk" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>

    <a href="/admin/products/add">Add product</a></li>
<table>
    {% for product in products %}
        <tr>
            <td class="tableTd">{{ products.id }}</td>
            <td class="tableTd">{{ products.name }}</td>
            <td class="tableTd">{{ products.price or "null"}}</td>
{#            <td>{{ good.description }}</td>#}
{#            <td>{{ good.category }}</td>#}
            <td class="tableTd">{{ products.createdAt }}</td>
            <td class="tableTd">{{ products.updatedAt }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
